<script src="{{js_url}}"></script>
<button class="{{button_class}}" id="{{button_id}}" type="button" onclick="payWithPaystack()"> Pay with Paystack</button>
<script>
    function payWithPaystack() {
        let currency = "{{currency}}"
        let plan = "{{plan}}"
        let ref = "{{ref}}"
        let redirect_url = "{{redirect_url}}"
        let obj = {
            key: '{{key}}',
            email: '{{email}}',
            amount: {{amount }},
            ref:ref,    
            callback: function (response) {
                var form = document.getElementById('ahpaystack')
                var input = document.createElement("input")
                if(Boolean(redirect_url)){
                    form.action = redirect_url;
                }
                input.type = "hidden";
                input.value = response.trxref;
                input.name = "trxref";
                form.appendChild(input);
                form.submit();
            }
        }
        
        if(Boolean(currency)){
            obj.currency = currency.toUpperCase()
        }
        if(Boolean(plan)){
            obj.plan = plan
        }
        var handler = PaystackPop.setup(obj);
        handler.openIframe();
        console.log({currency,plan,ref})
    }
</script>