{% load i18n wagtailcore_tags static wagtailimages_tags %}

<section class="uk-container">
    {% if value.section_text != None and value.section_text != 'None' %}
    <div class="intro">{{ value.section_text }}</div>
    {% endif %}
    <div class="uk-padding-small" uk-grid>
        <div id="desc" class="{{value.layout}} {{value.align}}">
            {% if value.promotedList %} 
            <h4 class="uk-card-title uk-text-bold">Latest</h4>
            <hr class="uk-width-1-1@m uk-margin-small-top">
            {% for post in value.promotedList %}
            <div class="uk-card uk-grid-collapse uk-child-width-1-1@s uk-box-shadow-hover-large uk-padding-small fadeaway" uk-grid>
                <div class="uk-grid-small uk-child-width-1-3@m uk-child-width-1-3@s uk-child-width-1-1" uk-grid>
                    <div>
                        <h2 style="font-size: 1.375rem;font-weight: 800;line-height: 1.09;letter-spacing: -.7px; margin-bottom:0px;"><a style="text-decoration:none;" href="{{ post.url }}">{{ post.title }}</a></h2>
                        <div class="byline">
                            <a href="{{ post.author.url }}">{{post.author.name}}</a>
                        </div>
                    </div>
                    <p style="color: #777; font-weight: 400">{{ post.description }}</p>
                    <div class="uk-card-media-top">
                        {% image post.picture max-800x600 as temp_image %}
                        <img src="{{ temp_image.url }}" alt="">
                    </div>
                </div>
            </div>
            <hr class="uk-width-1-1@m uk-margin-small-top">
            {% endfor %}
        {% else %}
            <p class="lead"> No stories have been published yet. Please check back later.</p>
        {% endif %}
        </div>
    </div>
    
</section>