{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pay securely with 2checkout.com</title>
  <script src="{% static 'shop/js/custom-payment.js' %}"></script>
  <link rel="stylesheet" href="{% static 'shop/css/custom-payment.css' %}">
  </link>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="header">
      <svg xmlns="http://www.w3.org/2000/svg" width="207" height="207" viewBox="0 0 207 207" class="header__logo">
        <path id="Union_1" data-name="Union 1"
          d="M114.971,164.689c-1.409-5.349-6.215-13.627-22.52-12.471A76.907,76.907,0,0,1,.5,77.1,76.819,76.819,0,1,1,153.293,88.5c-1.615,20.975,9.865,25.913,13.6,26.959a46.206,46.206,0,1,1-51.926,49.23Z"
          transform="translate(-0.5 -0.5)" fill="#429bfc"></path>
      </svg>
      <h1>Meshhairline.com</h1>
    </div>
    <div id="loader">
      <img src="{% static 'shop/images/loader.svg' %}" width="75" />
    </div>
    <div id="compatibility" class="hidden content">
      Payment Request Api is only supported for Edge, Chrome, Safari, Firefox.
      <br/>
      <a href="https://developer.mozilla.org/en-US/docs/Web/API/Payment_Request_API">Read more</a>
    </div>
    <div id="invoice_not_found" class="hidden content">
      Failed to retrieve invoice, please try again later.
    </div>
    <div id="content" class="hidden">
      <div class="divider"></div>
      <table>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
      </table>
      <div class="divider"></div>
      <form action='https://www.2checkout.com/checkout/purchase' id='form' method='post'>
        <input type='hidden' name='sid' id='sid' value='1303908' />
        <input type='hidden' name='mode' id="mode" value='2CO' />
        <input type='hidden' name='demo' id="demo" value='true' />
        <input type='hidden' name='card_holder_name' id='card_holder_name' />
        <input type='hidden' name='street_address' id='street_address' />
        <!-- <input type='hidden' name='street_address2' value='Suite 200' /> -->
        <input type='hidden' name='city' id='city' />
        <input type='hidden' name='state' id='state' />
        <input type='hidden' name='zip' id='zip' />
        <input type='hidden' name='country' id='country' />
        <input type='hidden' name='ship_name' id='ship_name' />
        <input type='hidden' name='ship_street_address' id='ship_street_address' />
        <!-- <input type='hidden' name='ship_street_address2' value='Suite 200' /> -->
        <input type='hidden' name='ship_city' id='ship_city' />
        <input type='hidden' name='ship_state' id='ship_state' />
        <input type='hidden' name='ship_zip' id='ship_zip' />
        <input type='hidden' name='ship_country' id='ship_country' />
        <input type='hidden' name='email' id='email' />
        <input type='hidden' name='sessionId' id='sessionId' />
        <!-- <input type='hidden' name='phone' value='614-921-2450' /> -->
        <button class="center" id="pay">
            <span id="button_loader" class="hidden">
              <img src="{% static 'shop/images/white_loader.svg' %}" width="25" />
            </span>
            <span>
              Pay with 2Checkout.com
            </span>
          </button>
        </form>
    </div>
  </div>
  <script src="https://www.2checkout.com/static/checkout/javascript/direct.min.js"></script>
</body>

</html>